/Menu.uiZone.Identifier
/Ui_configuracion.pyZone.Identifier
/Ui_menu.pyZone.Identifier
/Ui_estadisticas.pyZone.Identifier
/data.jsonZone.Identifier
/configuracion.uiZone.Identifier
/Main (1).pyZone.Identifier
/requirements.txt
/Estadisticas.uiZone.Identifier
/Main.pyZone.Identifier